<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <style>
        body { font-family: Arial; padding: 40px; background: #f0f0f0; }
        .container { background: #fff; padding: 20px; border-radius: 10px; max-width: 400px; margin: auto; }
    </style>
</head>
<body>
    <center>
        <h1>Tanishq's Weather Showing App</h1>
    </center>
        <div class="container">
            <h1>Weather App</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter city name" value="{{ city }}" required>
            <button type="submit">Get Weather</button>
        </form>

        {% if weather %}
            <hr>
            <h3>Weather in {{ weather.city }}, {{ weather.country }}</h3>
            <p>Temperature: {{ weather.temp }}°C</p>
            <p>Condition: {{ weather.condition }}</p>
            <p>Humidity: {{ weather.humidity }}%</p>
            <p>Wind Speed: {{ weather.wind }} m/s</p>
        {% elif error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
